body{
   
    height: 180vh;
    background: rgb(30,4,17); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(30,4,17) 1%, rgb(119,17,68) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(30,4,17) 1%,rgb(119,17,68) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(30,4,17) 1%,rgb(119,17,68) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e0411', endColorstr='#771144',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-box >h2, .main-box >p {
    color: #fff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
#content-box {
    box-sizing: content-box;    
    width: 300px;
    height: 100px;
    padding: 30px;    
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    border: 10px solid #fff;
    color: #fff;
}

#border-box {
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    padding: 30px;    
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    border: 10px solid #fff;
    color: #fff;
}
@media screen and (max-width: 600px){

    .main-box >p{
        margin: 2rem 5rem;
    }
    #content-box{
        width: 250px;
        height: 50px;
        padding:10px 10px 30px 10px;
    }
}